/* about_styles */

.ro-about-container{
    margin-top: 3rem;
}

.ro-about-li{
    font-weight: 600;
}

.ro-hr{
    width: 80%;
    margin: 0 auto;
}

.ro-section-card{
    background-color: #ffffff;
    border: thin solid black;
    border-radius: 0.8rem;
    padding-bottom: 2rem;
}

.ro-name-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ro-bs-icon:hover .ro-bs-tt{
    visibility: visible;
    opacity: 1;
}

.ro-about-b{
    font-weight: 600;
}

.ro-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.ro-ddl-1{
    margin: 0;
    text-align: center;
    flex: 1;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.collapsible-btn {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background-color: #dadada;
    color: white;
    border-radius: 5px;
    margin-right: 1rem;
    margin-top: 1rem;

}

.collapsible-btn:hover {
    background-color: #909090;
}

@media(max-width: 860px){
    .ro-h1-container b{
        font-size: 3rem;
    }

    .ro-about-container{
        margin-top: 2rem;
    }
}

@media(max-width: 780px){
    .ro-h1-container b{
        font-size: 2.5rem;
    }

    .ro-about-container{
        margin-top: 1.5rem;
    }
}

@media(max-width: 768px){
    .ro-about-body{
        margin-bottom: 1rem !important;
    }
}

@media(max-width: 660px){
    .ro-h1-container b{
        font-size: 2rem;
    }

    .ro-about-container{
        margin-top: 1rem;
    }

    main{
        margin-top: 5rem;
    }
}

@media(max-width: 520px){
    .ro-h1-container b{
        font-size: 1.8rem;
    }
}

@media(max-width: 440px){
    .ro-h1-container b{
        font-size: 1.6rem;
    }

    main{
        margin-top: 6rem;
    }
}

@media(max-width: 400px){
    .ro-h1-s, .ro-h1-s b{
        font-size: 1.4rem;
    }

    .ro-about-container{
        margin-top: 1rem;
    }

    .ro-hr-top{
        margin-top: 1rem;
    }

    .ro-about-body{
        margin-bottom: 0 !important;
    }
}
