/* Heading title styles */
.ro-ht-s{
    display: flex;
    justify-content: center;
}

/* h1 styles */
.ro-h1-s{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.7rem;
    font-size: 3.3rem;
    text-wrap: nowrap;
}

/* h1 container styles */
.ro-h1-container{
    display: flex;
    justify-content: center;
}

/* main container (image/body) styles */
.ro-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}

/* images container styles */
.ro-img-container{
    position: relative;
    width: 15rem;
    height: 15rem;
    max-width: 100%;
    overflow: hidden;
    border-radius: 50%;
    background-color: #ffffff;
    border: thick solid #ffffff;
    border: solid thin black;
    padding: 0;
    margin: 0;
    z-index: 2;
}

/* images styles */
.ro-pimg, .ro-cpimg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

/* cartoon image styles */
.ro-cpimg{
    opacity: 0;
    z-index: 2;
}

/* image container hover effect */
.ro-img-container:hover .ro-cpimg{
    opacity: 1;
}

/* body heading div styles */
.ro-body-heading{
    display: inline;
    height: 20%;
    width: 100%;
}

/* main body container styles */
.ro-body-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0;
    height: 20rem;
    width: 30rem;
    background-color: #ffffff;
    border: thin solid black;
    border-radius: 0.8rem;
    z-index: 1;
    transform: translateY(-75px);
}

/* paragraph/intro styles */
.ro-intro{
    color: black;
    font-size: larger;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
    font-weight: 300;
}

/* intro break styles */
.ro-intro-break{
    margin: 0 auto;
    width: 80%;
}

/* body name highlight */
#ro-name-b{
    font-weight: 600;
}

@media(max-width: 390px){
    .ro-main-container{
        font-size: 1rem;
    }

    .ro-img-container{
        width: 12rem;
        height: 12rem;
    }

    .ro-body-container{
        width: 15rem;
    }
}



@media(max-width: 500px){
    .ro-h1-container h1{
        font-size: 2rem;
    }

    .ro-body-container{
        width: 25rem;
        transform: translateY(-50px);
    }    
}


/* Extra small devices (phones, less than 600px) */
@media (max-width: 600px) {
    /* body {
        background-color: lightblue;
    } */

    .ro-h1-s{
        font-size: 3rem;
    }
}

/* Small devices (tablets, 600px and up) */
@media (min-width: 600px) and (max-width: 768px) {
    /* body {
        background-color: lightgreen;
    } */
}

/* Medium devices (small laptops, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
    /* body {
        background-color: lightcoral;
    } */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    /* body {
        background-color: lightgoldenrodyellow;
    } */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* body {
        background-color: lightpink;
    } */
}

