html, body{
    height: 100%;
}

.heading-section{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    /* margin-bottom: 20px; */
    text-decoration: none;
    color: black;
    text-wrap: nowrap;
    background-color: #ffffff;
    border-radius: 0.7rem;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    /* border: solid thin black; */
}

.home-li{
    font-weight: 600;
}

.img-section {
    display: flex;
    justify-content: center;
    margin-top: 0;
    height: 15rem;
}

.img-container {
    position: relative;
    width: 15rem;
    height: 15rem;
    max-width: 100%;
    overflow: hidden;
    border-radius: 50%;
    background-color: #ffffff;
    border: thick solid #ffffff;
    border: solid thin black;
    /* transform: translateY(-10px); */
    padding: 0;
    margin: 0;
    z-index: 2;
}

.pimg, .cpimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

.cpimg {
    opacity: 0;
    z-index: 2;
}

.img-container:hover .cpimg {
    opacity: 1;
}

.body-section{
    display: flex;
    justify-content: center;
    margin-top: 0;
    height: 25rem;
    transform: translateY(-50px);
    /* background-color: #000000; */
}

.body-card{
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0;
    height: 20rem;
    width: 35rem;
    background-color: #ffffff;
    border: thin solid black;
    border-radius: 0.8rem;
    z-index: 1;
}

.body-heading{
    display:inline;
    height: 15%;
    width: 100%;
    /* border-radius: 2rem;
    background-color: red; */
}

.body-container #intro{
    color: black;
    font-style: inherit;
    font-size: larger;
    text-align: center;
    font-weight: 300;
    padding-left: 2rem;
    padding-right: 2rem;
}

.body-container #intro-break{
    width: 80%;
}

.info-div{
    position: relative;
    display: inline-block;
}

.info-svg{
    padding-top: 10px;
    padding-left: 10px;
}

.tooltip-box {
    visibility: hidden;
    width: 200px;
    background-color: #ffffff;
    color: black;
    font-weight: 300;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    /* bottom: 125%;  */
    left: 50%;
    margin-left: -100px; /* Center the tooltip */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.tooltip-box::after {
    content: "";
    position: absolute;
    top: 100%; /* Arrow at the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f9f9f9 transparent transparent transparent;
}

.info-div:hover .tooltip-box {
    visibility: visible;
    opacity: 1;
}


@media (max-width: 750px){
    h1{
        font-size: 2.6rem;
    }

    #txt{
        text-align: center;
    }

    .body-card{
        margin: 10px;
    }

    .tooltip-box{
        right: 1rem;
        left: 7rem;
        
    }
}

@media(max-width: 501px){
    h1{
        font-size: 2.5rem;
    }

    #txt{
        text-align: center;
    }

    .body-card{
        margin: 10px;
    }

    /* .img-container{
        width: 12rem;
        height: 12rem;
    } */
}

@media(max-width: 380px){
    main{
        font-size: 0.8rem;
        height: 1%;
    }

    h1{
        font-size: 2rem;
    }

    .body-section{
        height: 15rem;
    }
}
