/* This is a single-line comment */
/* 
    This is 
    a multi-line
    comment
*/

/* Everything before a curly brace "{" is called a selector */



h1{
    /* Aligns all values within an h1 element centrally */
    text-align: center;

    /* sets the decoration, underline, strikethrough etc. Can have multiple on one line */
    /* Can set the colour of the decoration */
    text-decoration: white underline overline;

    /* Set the style of the decoration */
    text-decoration-style: wavy;

    /* sets the weight/thickness of the text */
    font-weight: normal;

    /* Changes the font size */
    font-size: 50px;

    /* changes the actual font */
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

    /* The element only takes up 50% of the space */
    width: 50%;

    /* Makes all <h1> elements purple */
    color: purple;
}

h2{
    /* Changes the colour of the text using hex values*/
    color: #5FCFFC;

    /* Changes the background colour of the element using rgb */
    background-color: rgb(89, 151, 0);
}


img{
    /* Makes all <img> elements 100 pixels wide, 200 pixels tall */
    width: 100px;
    height: 200px;
}

button{
    /* color attribute changes the text colour of a button, not the background colour */
    color: magenta;

    /* changes the background colour of the button */
    background-color: cyan;
}

p{
    /* Changes the colour of the text */
    color: olive;

    /* similar to background-colour but has more flexibility */
    background: orange;

    /* aligns all paragraph text to the right of the element */
    text-align: right;

    /* sets the spacing between text/height of the line*/
    line-height: 3;

    /* sets the space between letters in text */
    letter-spacing: 3px;

    /* sets the font size */
    font-size: small;
}

body{
    /* Hex can be shortened to 3 digits, if each group of the colour is the same value */
    /* Personally dont see the point in this */
    background-color: #C5E;
}

a{
    /* removes the underline from a link/anchor */
    text-decoration: none;
}