section{
    background-color: #FF934F;
    width: 200px;
    height: 200px;
}

/* sets the width and height of the element to the percentage of the parent element */
/* in this case 50% height and width of the section */
div{
    background-color: #219ebc;
    width: 50%;
    height: 50%;
}

h1{
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

/* 2em will set the elements size to twice the size of the parent element */
/*  basically scales the element with the parent element size */
#ems h2{
    font-size: 2em;
}

#ems article{
    font-size: 30px;
}

/* em's are multiplied exponentially with nested lists for example */
#ems ul{
    font-size: 1.5em;
}

/* rem scales elements relative to the root element */
#rems h3{
    font-size: 3rem;
}

#rems h2{
    font-size: 2rem;
}

#rems ul{
    font-size: 0.8rem;
}

