#rgbao section{
    width: 400px;
    height: 400px;
    background-color: magenta;
}

#rgba{
    width: 50%;
    height: 50%;
    /* only affects the text colour */
    color: rgba(255,255,255,0.3);
    /* only affects the background colour */
    background-color: rgba(255,255,255,0.5);
}

#opacity{
    width: 50%;
    height: 50%;
    /* only affects the background colour */
    background-color: yellow;
    /* applies to entire element plus any nested elements */
    opacity: 0.5;
}


#middle{
    background-color: #81b29a;
}

/* static position doesnt affect the element */
#static #middle{
    position: static;
    top: 100px;
}

/* relative allows the element to be offset from itself */
#relative #middle{
    position: relative;
    /* can use negative values */
    /* pushes element down 50px */
    top: 50px;
    /* pushes element right 50px */
    left: 50px;
}

#absolute #middle{
    /* using absolute removes the element from the document flow */
    /* but is positioned relative to its closest positioned ancestor */
    position: absolute;
    top: 50px;
    left: 50px;
}

#absolute{
    position: relative;
}


#fixed #middle{
    /* element stays fixed to screen, i.e always visible, even when scrolling */
    position: fixed;
    top: 0;
    left: 0;
}

div{
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

