/* main_styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* *{
    box-sizing: border-box;
} */

html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-style: normal;
    background: #ffffff;
}

body {
    background: radial-gradient(circle, #000000 1px, transparent 1px) #ffffff;
    background-size: 20px 20px;
}

main {
    min-height: 100vh;
}

.ro-nav-section,
.ro-main-nav {
    display: flex;
    text-wrap: nowrap;
}

.ro-nav-section {
    justify-content: center;
    margin-bottom: 3rem;
    padding-top: 1rem;
}

.ro-main-nav {
    justify-content: space-between;
    /* min-width: 405px; */
    height: 50px;
    padding: 10px 10px;
    align-items: center;
    font-weight: initial;
    font-size: 1.5em;
}

.ro-main-nav li {
    display: inline;
    list-style: none;
}

.ro-main-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.ro-main-nav .ro-name-div {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 0.8rem;
    white-space: nowrap;
    max-width: 100%;
}

.ro-txt{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.ro-nav-class a:hover,
.ro-nav-class a:active {
    text-decoration: underline;
    color: #5c5c5c;
}

.ro-nav-class{
    margin-bottom: 0;
}

.ro-nav-spacer {
    width: 25em;
    height: 100%;
}

.ro-nav-item {
    display: inline-block;
    background-color: #ffffff;
    padding: 0;
    margin: 5px;
    border-radius: 5px;
}

.ro-sandbox-li{
    border: 1px solid black;
    border-radius: 0.5rem;
}

@media (max-width: 1300px) {
    .ro-main-nav {
        justify-content: center;
    }

    .ro-main-nav a {
        padding: 10px 5px;
        margin: 0 5px;
        font-size: 0.95em;
    }

    .ro-main-nav #ro-txt-home{
        padding: 0;
    }

    .ro-nav-spacer {
        display: none;
    }

    .ro-main-nav .ro-name-div {
        max-width: 300px;
        width: 65%;
    }
}

@media (max-width: 1100px) {
    .ro-main-nav a {
        font-size: 0.8em;
    }
}

@media (max-width: 950px) {
    .ro-main-nav {
        flex-direction: column;
        align-items: center;
    }

    .ro-nav-spacer,
    .ro-main-nav ul {
        display: none;
    }

    .ro-main-nav li {
        display: block;
        margin: 0;
    }

    .ro-main-nav a {
        padding: 0;
        margin: 0;
    }

    #ro-txt-home {
        /* align-items: center;
        justify-content: center; */
        /* text-align: center; */
        font-size: 125%;
    }

    .ro-info-icon svg{
        /* background-color: red; */
        padding-bottom: 1rem;
    }

    .ro-main-nav .ro-name-div {
        width: 80%;
        text-align: center;
        padding-bottom: 0.6rem;
        max-width: 100%;
    }
}

@media (max-width: 501px) {
    #ro-txt {
        text-align: center;
    }
}