/* Sets the width and height of the element */
body{
    margin: 0;
}

div{
    width: 200px;
    height: 200px;
}

h1{
    background-color: pink;
    width: 300px;
    padding-left: 100px;
    padding-top: 50px;
    margin: 0;
}

/* Set a border on the element with ID one */
#one{
    background-color: #e5989b;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 3%;
    /* sets the element from border to border instead of adding on the 10 pixels from the border width */
    box-sizing: border-box;
    margin-left: 50px;
    margin-bottom: 100px;
}

#two{
    background-color: #b5838d;
    border-color: #ffcdb2;
    border-width: 3px;
    border-style: dotted;
    box-sizing: border-box;
    border-left-width: 8px;
    border-left-color: red;
    margin: 200px;
}

/* border shorthand - sets elements width, style and color in one go */
#three{
    background-color: #6d6875;
    /* width style colour */
    border: thick double #32a1ce;
    box-sizing: border-box;
}

#four{
    border: thick solid red;
    padding-right: 200px;
}

/* padding shorthand. Top, Right, Bottom, Left */
button{
    padding: 10px 20px 30px 40px;
}