h1{
    background-color: palegoldenrod;
    border: 1px solid black;
    /* sets element (in this case a block) to be inline */
    /* display: inline; */
    width: 300px;
    height: 200px;
}

/* Width and height aren't respected for inline elements */
span{
    background-color: paleturquoise;
    border: 1px solid black;
    /* padding: 50px;
    margin: 50px; */
}

div{
    height: 200px;
    width: 200px;
    background-color: olivedrab;
    border: 5px solid black;
    /* allow block elements to behave like inline elements */
    display: inline-block;
    margin: 50px;
}