body {
    font-family: 'Open Sans', sans-serif;
}

nav, h1, h2, h3, p, footer{
    text-align: center;
}

main{
    border: thin solid black;
}

section{
    background-color: #003049;
    width: 90%;
    height: 200px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
}

div{
    width: 200px;
    height: 200px;
    font-size: 20px;
    font-weight: bolder;
}

#main{
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

#main .sidebar{
    background-color: purple;
    flex: 1 2 300px;

}

#main .maincontent{
    background-color: greenyellow;
    flex: 2 1 800px;
}

/* Flex is enabled on the "container" element, the element holding the child elements */
#container1 {    
    flex-direction: row;
}

#container2 {
    flex-direction: row-reverse;
}

#container3 {
    flex-direction: column;
}

#container4 {
    flex-direction: column-reverse;
}

#container5 {
    justify-content: flex-start;
}

#container6 {
    justify-content: flex-end;
}

#container7 {
    justify-content: center;
}

#container8 {
    justify-content: space-between;
}

#container9 {
    justify-content: space-around;
}

#container10 {
    justify-content: space-evenly;
}

#container11 {
    height: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#container12 {
    height: 400px;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

#container13 {
    height: 400px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

#container14 {
    height: 400px;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
}

#container15 {
    height: 400px;
    justify-content: center;
    align-items: flex-start;
}

#container16 {
    height: 400px;
    justify-content: center;
    align-items: flex-end;
}

#container17 {
    height: 500px;
    justify-content: center;
    align-items: center;
}

    #container17 #div3{
        height: 300px;
    }

    #container17 #div5{
        height: 450px;
    }

#container18 {
    height: 500px;
    justify-content: center;
    align-items: baseline;
}

    #container18 #div3{
        height: 100px;
    }

    #container18 #div5{
        height: 350px;
    }

#container19{
    height: 450px;
}

#container19 div:nth-of-type(3){
    text-align: center;
    align-self: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#container20 div{
    width: 200px;
    height: 200px;
    text-align: center;
    flex-basis: 400px;
}

#container21 div:nth-of-type(1){
    /* takes up all of the additional space */
    flex-grow: 1;
    /* max-width: 400px; */
}

#container21 div:nth-of-type(5){
    /* takes up all of the additional space */
    flex-grow: 2;
}

#container22 div:nth-of-type(1){
    /* takes up all of the additional space */
    flex-shrink: 1;
    /* max-width: 400px; */
}

#container22 div:nth-of-type(5){
    /* takes up all of the additional space */
    flex-shrink: 2;
}