main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ro-contact-li{
    font-weight: 600;
}

.ro-container{
    width: 55%;
    height: 100%;
    border: solid thin black;
    border-radius: 0.5rem;
    background-color: #ffffff;
}

#ro-h1{
    /* border: solid thin black;
    border-radius: 0.5rem; */
    background-color: #ffffff;
    margin-bottom: 1rem;
}