html{
    font-size: 12px;
}

body {
    font-size: 2rem;
    /* Base background color */
    background-color: #ffffff;
    background-image: radial-gradient(circle, #000000 1px, transparent 1px);
    /* Size of the dot pattern */
    background-size: 20px 20px;
}

#header{
    display: flex;
    align-items: center;
}

h1{
    padding: 0;
    margin: 0;
    background-color: #fffffe;
}

header{
    font-family: century-gothic, sans-serif;    
}

#main-nav a{
    display: flex;
    gap: 15px;
    text-decoration: none;
    color: #424242;
    font-family: century-gothic, sans-serif;
}

#main-nav a:visited{
    text-decoration: none;
}

#main-nav a:hover, a:active{
    text-decoration: none;
    color: #949494;
}