html {
    /* Set base font of document */
    font-size: 12px;
}

body {
    /* Body font 2 times larger than base font */
    font-size: 2rem;
    /* Create dotted background */
    background: #ffffff radial-gradient(circle, #000000 1px, transparent 1px);
    background-size: 20px 20px;
}

header, #main-nav a, h2, h4 {
    /* Set font of nav bar, Header, h2, and h4 */
    font-family: "Century Gothic", sans-serif;
}

#header {
    display: flex;
    align-items: center;
}

h1, code {
    margin: 0;
    padding: 0;
    background-color: #fffffe;
}

#main-nav a {
    display: flex;
    gap: 15px;
    text-decoration: none;
    color: #424242;
}

#main-nav a:hover,
#main-nav a:active {
    text-decoration: underline;
    color: #949494;
}

.image-container {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #ebebeb;
    border: medium solid #000000;
}

.pimg, .cpimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

.cpimg {
    opacity: 0;
    z-index: 1;
}

.image-container:hover .cpimg {
    opacity: 1;
}

h2, h4 {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

h2 {
    font-size: 3rem;
}

h4 {
    font-size: 1.2rem;
}

#dwip {
    text-align: center;
    border: thick solid red;
    padding: 1px;
    margin: 1px;
    background-color: #ebebeb;
}
